/* General */

.mb {
  margin-bottom: 1em;
}

h1 a {
    color: #FFF;
}

/* Form search */
#search {
  position: relative;
}

button a {
    color: #FFF;
    display: block;
    width: 100%;
}

#search_filters {
  position: absolute;
  top: 200px;
}

#search_filters {
  background-color: #FFF;
  border-radius: 5px;
  height: 611px;
  padding-top: 5px;
  padding-bottom: 20px;
  z-index: 200;
}

#search_filters #header_filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}

#search_filters #header_filters h2, #search_filters #header_filters a {
  margin: 10px;
}

#shopList td button {
  margin-left: 10px;
}

/* Footer */
.footer {
  padding: 15px 0 !important;
}
